<div class="py-5" style="background-image: url('https://i.imgur.com/RoIXby7.png');
                         background-repeat: no-repeat;
                         background-size: cover;
                         width: 100%;">

  <h1 style="display: flex;
             align-items: center;
             justify-content: center;">
    <code><strong>¡CONTINÚA LA PALABRA!</strong></code>
  </h1>

  <div style="margin-left: 20%;
              margin-top: 4%">
    <div class="card col-7"
         style="width: 25rem;
                height: 20rem">

      <div class="card-body">
        <h3 class="card-title h4"
            style="text-align: center">
          <code>¡Únete y diviértete con tus amigos!</code></h3>

        <div class="card-text"
             style="display: flex;
                    align-items: center;
                    justify-content: center;">

          <div class="col-10" *ngIf="formGroup">
            <form  [formGroup]="formGroup">
              <div class="form-group"
                   style="margin-top: 2ch">
                <label for="apodoNombre">Apodo o nombre:</label>
                <input formControlName="apodo"
                       type="text"
                       class="form-control"
                       id="apodoNombre"
                       placeholder="Ingrese su apodo o nombre">
              </div>
              <div class="form-group"
                   style="margin-top: 2ch">
                <label for="numeroSala">Número de sala:</label>
                <input formControlName="salaId"
                       type="text"
                       class="form-control"
                       id="numeroSala"
                       placeholder="Ingrese su número de sala">
              </div>
              <button type="submit"
                      class="btn btn-warning"
                      (click)="unirseSala()"
                      style="margin-top: 2ch; width: 100%"
                      [disabled]="formGroup.invalid">Entrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

